@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
  body {
    @apply p-4;
  }
  .font-mono {
    @apply tracking-tighter;
  }
}

* {
  outline: 0;
}

.wrapper {
  @apply relative w-[320px] h-10 rounded-sm shadow p-2;
}

.message {
  @apply font-mono text-sm;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.profile-card {
  display: grid;
  grid-template: 1fr / 64px 1fr;
  grid-template-areas: "picture content";
  grid-gap: 16px;
}
